# <center>**第6章**</center>
- <center>读写文本格式的数据</center>
- <center>二进制数据格式</center>
- <center>使用数据库</center>

In [33]:
from numpy.random import randn
import numpy as np
import os
import sys
import matplotlib.pyplot as plt
from pandas import Series, DataFrame
import pandas as pd

**pandas中的解析函数**
- read_csv 从文件、URL、文件型对象中加载带分隔符的文件，默","
- read_table 从文件、URL、文件型对象中加载带分隔符的文件，默认"\t"
- read_fwf  读取定宽列数据
- read_cliboard 读取剪切板中数据，在将网页转化为表格时很有用

逐块读取文件
基本思路:用chunksize生成一个可迭代对象
用Series接收所有Series KEY 的函数
**用到了Series ADD 函数**

In [34]:
#工作路径
import os
os.getcwd()
os.chdir(r'D:\book\examples')

In [35]:
pd.read_table('ex1.csv',sep =',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [36]:
pd.read_csv('ex2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [37]:
names = ['a','b','c','d','message']

In [38]:
pd.read_csv('ex2.csv',names = names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [39]:
#多层次索引
parsed  = pd.read_csv('csv_mindex.csv',index_col=['key1','key2'])

In [40]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [41]:
#用正则表达式分割符号
pd.read_table('ex3.txt',sep = '\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [42]:
#跳过行号skiprows
pd.read_csv('ex4.csv',skiprows = [0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [43]:
#读取缺失值处理
pd.read_csv('ex5.csv')

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [44]:
#用字典表示NA的标记值
sentinels = {'message':['foo','NA'],'something':['two']}

In [45]:
pd.read_csv('ex5.csv',na_values= sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [46]:
pd.read_csv('ex5.csv',na_values= sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [47]:
#逐块读取文件
result = pd.read_csv('ex6.csv')

In [48]:
#读取几行
pd.read_csv('ex6.csv',nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [49]:
chunker = pd.read_csv('ex6.csv',chunksize=1000)

In [50]:
tot = Series([])
for piece in chunker:
    tot  = tot.add(piece['key'].value_counts(),fill_value=0)

In [51]:
tot

0    151.0
1    146.0
2    152.0
3    162.0
4    171.0
5    157.0
6    166.0
7    164.0
8    162.0
9    150.0
A    320.0
B    302.0
C    286.0
D    320.0
E    368.0
F    335.0
G    308.0
H    330.0
I    327.0
J    337.0
K    334.0
L    346.0
M    338.0
N    306.0
O    343.0
P    324.0
Q    340.0
R    318.0
S    308.0
T    304.0
U    326.0
V    328.0
W    305.0
X    364.0
Y    314.0
Z    288.0
dtype: float64

In [52]:
#将数据写到文本格式

In [53]:
data = pd.read_csv('ex5.csv')

In [54]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [55]:
data.to_csv('out.csv')

In [57]:
data.to_csv(sys.stdout,sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [58]:
data.to_csv(sys.stdout,na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [59]:
data.to_csv(sys.stdout,index = False,header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [63]:
#此外，你还可以只写出一部分列
data.to_csv(sys.stdout,columns = ['a','b','c'])

,a,b,c
0,1,2,3.0
1,5,6,
2,9,10,11.0

In [66]:
#series也有一个to_csv的方法
dates = pd.date_range('1/1/2000',periods=7)

In [67]:
ts = Series(np.arange(7),index=dates)

In [68]:
ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int32

In [69]:
#手工处理分割格式

In [70]:
import csv

In [71]:
f  = open('ex7.csv')

In [72]:
reader = csv.reader(f)

In [73]:
reader

In [74]:
! ex7.csv

In [75]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']